*{
    font-family: 'Courier New', Courier, monospace;
}


/* dashboard section */ 

.tile{
    background-color: white;  
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-left: 8px solid #EAB325;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-start;
    padding-left: 12px;
    padding-top: 8px;
    padding-right: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    gap: 15px;
}

.dashboard{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/* search bar */ 

button{
    background-color: black;
    color: white;
    border: 0px;
    border-radius: 10px;
    height: 35px;
    width: 200px;
    font-size: larger;
}

input{
    width: 250px;
    border-radius: 10px;
    border: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 30px;
    margin-bottom: 5px;
    padding-left: 10px;
}

#input-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;

}

.form-fields{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


/* ---- errors and validation ---- */ 

.error{
    color: red;
    font-size: 90%;
}

input.invalid {
    border-color: #900;
    background-color: #fdd;
}

input:focus:invalid {
    outline: none;
}

.valid{
    background-image: linear-gradient(to right, pink, lightgreen);
}



